body {
    background: #f4f4f4;
}

#content {
    width: 350px;
    background: #1e272e !important; 
}

#senha {
    border-bottom-right-radius: 0px !important;
    border-top-right-radius: 0px !important;
}

#hide-password {
    background: white;
}

.fa-user {
    margin-right: 2px;
}

#eye {
    cursor: pointer !important;
}

#eye button {
    background: white !important;
}


