* {
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box !important;
}
.receita {
  border-style: solid;
  border-color: lightgray;
  border-width: 2px;
  margin-left: 30px;

}

.preparo {
  border-style: solid;
  border-width: 2px;
  border-color: rgb(105, 105, 105);
  width: 60%;
  margin-left: 20px;
}
.aba-comentario {
  border-style: solid;
  border-width: 2px;
  border-color: rgb(107, 107, 107);
  width: 38%;
  position: absolute;
  right: 0px;
}

.informacoes {
  margin-right: 30px;
  margin-left: 50px !important;
}

.imagem_receita {
  margin-right: 30px;
}
.biografia{
  border-style: solid;
  border-color: rgb(105, 105, 105);
  border-width: 2px;
  margin-left: 30px;
  font-family: Arial, Helvetica, sans-serif;
}

.passo-comentarios{
  position: relative;
  border-color:rgb(105, 105, 105);
}

.ingredientes {
  margin-left: 200px !important;
}
.passos {
  margin-left: 20px !important;
  border-color:rgb(105, 105, 105); 
}
.curiosidades{
  font-family: cursive
}