#content {
    width: 350px;
<<<<<<< HEAD:public/styles/login.scss
    background: #6a89cc;
}
=======
    background-color: #b71540 !important;
  }
>>>>>>> a67dfe04c4ea90ea7ae15bc80d35f18c764d41aa:public/styles/login.css
